    /*General Styles*/
    @import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Marck+Script&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.wrap{
    width: 75%;
    margin: 0px auto;
}

/*Header*/

#header{
    background-color: #191919;
}

#header .wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 75%;
    margin: 0px auto;
}

#header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 8em;
}

#header h6{
    font-size: 14px;
    margin-top: -2em;
    margin-left: 1em;
}

#header a{
    display: inline-block;
    padding: 20px;
    margin: 20px;
    background-color: #D72323;
    border-radius: 33px;
    text-decoration: none;
    color: #EEE ;
    font-size: 20px;
    font-weight: bold;
}

#header a:hover{
    background-color: #880d0d;
}

#header a:active{
    background-color: #ff2c2c;
    transition: 500ms;
}

#header img{
    max-width: 70%;
    min-width: 250px;
    /*width: 20em;*/
}

#header #img-div{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header #img-caption{
    font-family: 'Marck Script', cursive;
    font-size: 20px;
    margin-top: 20px;
}

/*Information*/

#tribute-info{
    background-color: #D72323;

}

#tribute-info h2{
    display: block;
    font-size: 35px;
    padding: 45px;
    text-align: center;    
}

#tribute-info p{
    display: block;
    margin: 20px;
}

#tribute-info .more-info{
    text-align: center;
}

#tribute-link{
    display: inline-block;
    padding: 20px;
    margin-bottom: 20px;
    background-color: #EEE;
    color: #191919;
    text-decoration: none;
    font-weight: bold;
    border-radius: 40px;
}

#tribute-link:hover{
    background-color: #ccc;
}
/*Footer*/
#footer{
    background-color: #3E3636;
    text-align: center;
    padding: 15px;
}

#footer p{
    display: inline-block;
    margin: 10px;
}

#footer .social-media a{
    text-decoration: none;
    font-size: 25px;
    margin: 5px 10px 0px 10px;
    color: #EEE;
}

#footer .social-media a:hover{
    color: #D72323;
}

#footer .social-media a:active{
    color: #fd4d4d;
}