    /*General Styles*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body{
    background-color: #191919;
    color: #ECDBBA;
    font-family: 'Roboto', sans-serif;
}

.wrap{
    width: 80%;
    margin: 0px auto;
}

/*Header*/

#header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}

#header h1{
    font-family: 'Bebas Neue', cursive;
    font-size: 8em;
    color: #D72323;
}

#header h6{
    font-size: 14px;
    margin-top: -2em;
}


