/*Estilos generales*/

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/*CONTENEDOR*/
.contenedor{
    width: 100%;
    margin: 0 auto;   
}

/*CABECERA*/
.cabecera{
    background-color: aqua;
}

